.chat__main
  .grup__info
    .left__box
      %h2.curent__group
        %h2 #{@group.name}
      %ul.menber__list
        Members:
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
    = link_to 'Edit', edit_group_path(@group), class: 'edit__btn'
  .messages__list
    = render @messages

  .message__form
    .new__messages
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input__box', placeholder: 'type a message'
        = f.label :image, class: 'text' do
          = icon('fas', 'image', class: 'image')
          = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'form__submit'